html, body {
      position: relative!important;
      height: 100%!important;
    }
    body {
      background: #eee!important;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif!important;
      font-size: 14px!important;
      color:#000!important;
      margin: 0!important;
      padding: 0!important;
    }
    .swiper-container {
      width: 100%!important;
      height: 100%!important;
      margin-left: auto!important;
      margin-right: auto!important;
    }
    .swiper-slide {
      text-align: center!important;
      font-size: 18px!important;
/*       background: #fff!important; */

      /* Center slide text vertically */
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: -webkit-flex!important;
      display: flex!important;
      -webkit-box-pack: center!important;
      -ms-flex-pack: center!important;
      -webkit-justify-content: center!important;
      justify-content: center!important;
      -webkit-box-align: center!important;
      -ms-flex-align: center!important;
      -webkit-align-items: center!important;
      align-items: center!important;
    }
  .image-slide img{
  		max-width: 100%!important;
  }
  .text-slide p{
  	text-align: justify;
  }
  .text-slide h2{
  	text-transform: uppercase;
  }
  
  
  
  
